* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

/* Menu do Site */
header {
  height: 100px;
  background-color: #000;
  color: #FFF;
}
.header {
  max-width: 1140px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
}
.logo_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  background-color: #B28756;
  border-radius: 25px;
  color: #000;
}
.menu-opener {
  display: none;
}
.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.menu ul,
.menu li {
  list-style: none;
}
.menu ul {
  display: flex;
}
.menu li a {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 5px solid #000;
}
.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid #B28756;
  color: #CCC;
}

/* Botão padrão em todo site */
.button {
  display: inline-block;
  background-color: #B28756;
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 20px;
}

/* Conteúdo do Site */
.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
/* Slider Banner */
.banner .sliders {
  width: 1000vw;
  height: 100%;
  animation-name: slideShow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes slideShow {
  33%{
    margin-left: 0vw;
  }
  66%{
    margin-left: -100vw;
  }
  99%{
    margin-left:-200vw;
  }
}
.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
}
.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}
.banner h1 span {
  color: #B28756;
}
.banner h2 {
  text-transform: uppercase;
  margin-top: 20px;
}
.banner .sliders-pointers {
  width: 100vw;
  height: 20px;
  color: #FFF;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.banner .pointer.active {
  background-color: #B28756;
}

/* Conteúdo About Us */
.default {

  padding-top: 50px;
  padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.default .section-title {
  font-size: 20px;
}
.default .section-desc {
  font-size: 10px;
  color: #999;
  margin-top: 10px;
  margin-bottom: 40px;
}
.default .section-body {
  max-width: 1140px;
  margin: auto;
}

/* Áreas branca(ligth) e preta(dark) dos conteúdos - interfaces */
.default.light {
  background-color: #F7F7F7;
}
.default.light .section-title,
.default.light .section-body {
  color: #000;
}
.default.dark {
  background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body {
  color: #FFF;
}

/* Áreas específicas do About Us */
.section-aboutUs {
  display: flex;
}
.section-aboutUs--left {
  flex: 1;
}
.section-aboutUs--left p {
  font-size: 14px;
  line-height: 25px;
}
.section-aboutUs--right {
  width: 530px;
  text-align: center;
}
.section-aboutUs--right img {
  width: 480px;
  box-shadow: 0px 5px 10px #333;
}

/* Áreas específicas do Services */
.section-services {
  display: flex;
}
.section-service {
  flex: 1;
  text-align: center;
  padding: 15px;
  border-right: 1px solid #333;
}
.section-service:first-child {
  border-left: 1px solid #333;
}
.section-service h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
}
.section-service p {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}

/* Áreas específicas do Projects */
.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-projects--filters {
  display: inline-block;
  border: 1px solid #BBB;
  background-color: #DDD;
  border-radius: 30px;
  padding: 0 20px;
}
.section-projects--filters ul,
.section-projects--filters li {
  list-style: none;
}
.section-projects--filters li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  border-left: 1px solid #BBB;
  color: #444;
  border-bottom: 3px solid #DDD;
  cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
  border-bottom: 3px solid #B28756;
}
.section-projects--filters li:first-child {
  border-left: 0;
}
/* Áreas específicas do Projects - Photos */

/* Explicação do porque duas propriedades de largura: Por ser responsivel se o monitor for muito grande ele vai tem que ter
um limite, ele para em um determinado limite que no caso é os 1140px. Caso o monitor seja menor ele vai tem que usar os 
100% da tela ou 100vw, usando toda a área disponivel da tela. */
.section-projects--photos {
  width: 100vw;
  max-width: 1140px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-projects--photo {
  width: 280px;
}
.section-projects--photoarea {
  margin: 10px;
  width: 260px;
  height: 160px;
}
/* inherit: serve para repetir os valores das propriedades do elemento acima. */
.section-projects--photoarea img {
  width: inherit;
  height: inherit;  
}
.section-projects--photoinfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: inherit;
  height: inherit;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
}
.section-projects--photoinfo h5 {
  font-size: 18px;
  font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
  display: flex;
}

/* Áreas específicas do Our Team */
.bg-team {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 0;
}
.section-team-area {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-team {
  overflow: hidden;
  max-width: 880px;
  margin: auto;
}
.section-team .sliders {
  width: 1000vw;
  height: 100%;
  animation-name: slideShow;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@keyframes slideShow {
  33%{
    margin-left: 0vw;
  }
  66%{
    margin-left: -100vw;
  }
  99%{
    margin-left:-200vw;
  }
}
.section-team .slide {
  width: 280px;
  height: 100%;
  min-height: 300px;
  display: inline-block;
  background-color: #FFF;
  margin-right: 20px;
}
.section-team .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  padding: 30px;
}
.section-team-area .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-team-area .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.section-team-area .pointer.active {
  background-color: #B28756;
}
.section-team--avatar {
  width: 150px;
  height: auto;
}
.section-team--name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
}
.section-team--role {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}
.section-team--social {
  display: flex;
  margin-top: 20px;
}
.section-team--social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #CCC;
  border-radius: 13px;
  margin-right: 10px;
}
.section-team--social a:hover {
  background-color: #B28756;
}

/* Áreas específicas do Happy Clients */
.section-body.happy {
  max-width: none;
}
.section-happy .sliders {
  width: 1000vw;
  height: 100%;
  animation-name: slideShow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes slideShow {
  33%{
    margin-left: 0vw;
  }
  66%{
    margin-left: -100vw;
  }
  99%{
    margin-left: -200vw;
  }
}
.section-happy .slide {
  display: inline-block;
  width: 100vw;
  height: 100%;
}
.section-happy .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600px;
  margin: auto;
  margin-top: 30px;
}
.section-happy .slidearea p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  color: #999;
  width: 600px;
}
.section-happy--avatar {
  width: 150px;
  height: auto;
}
.section-happy--name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  margin-top: 30px;
}
.section-happy--role {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-top: 5px;
}
.section-happy--icon {
  margin-top: 25px;
  margin-bottom: 15px;
  width: 20px;
}
.section-happy-area .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-happy-area .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.section-happy-area .pointer.active {
  background-color: #B28756;
}

/* Áreas específicas das Empresas e Marcas */
.default-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background-color: #FFF;
}
.default-brands .section-brands a {
  margin-right: 70px;
}
.default-brands .section-brands a img {
  transition: transform .2s;
}
.default-brands .section-brands a img:hover {
  transform: scale(1.1);
}
.default-brands .section-brands a:last-child {
  margin-right: 0;
}

/* Áreas específicas da Price */
.default.light.bg-price {
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}
.section-price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-price .section-price--area {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-right: 30px;
  width: 220px;
  height: 320px;
  background-color: #FFF;
}
.section-price .section-price--area:last-child {
  margin-right: 0;
}
.section-price--title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #252424;
}
.section-price--area h1 {
  font-size: 30px;
  color: #252424;
}
.section-price--description {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  font-size: 10px;
  padding-bottom: 20px;
}
.section-price--description span {
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
}
.section-price--information {
  font-size: 11px;
  color: #999;
}
.button.black {
  background-color: #252424;
}
.button:hover {
  background-color: #B28756;
}

/* Áreas específicas do Premium */
.section-body.premium {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-premium {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #CCC;
  padding-bottom: 50px;
  width: 880px;
}
.section-premium--image {
  margin-right: 80px;
}
.section-premium--image img {
  width: 300px;
}
.section-premium--information {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.premium-feature {
  display: flex;
  padding-bottom: 30px;
}
.premium-feature:last-child {
  padding-bottom: 0;
}
.premium-feature--icone {
  margin-right: 30px;
}
.premium-feature--info h2 {
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 10px;
}
.premium-feature--info p {
  font-size: 12px;
  color: #999;
}
.premium-feature--info span {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
}
.section-body .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-body .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.section-body .pointer.active {
  background-color: #B28756;
}

/* Áreas específicas do Some Facts */
.section-facts {
  display: flex;
}
.section-fact {
  flex: 1;
  align-items: center;
  text-align: center;
  padding: 15px;
}
.section-fact div {
  background-color: #999;
  width: 16px;
  height: 3px;
  margin: auto;
}
.section-fact h1 {
  font-size: 50px;
  color: #B28756;
}
.section-fact h4 {
  margin-top: 4px;
  text-transform: uppercase;
  font-size: 18px;
}
.section-fact p {
  font-size: 13px;
  color: #999;
}
.section-fact .space {
  margin-top: 4px;
}

/* Áreas específicas das Redes Sociais */
.default-social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid #CCC;
  background-color: #FFF;
}
.default-social .section-share {
  margin-right: 70px;
}
.section-share {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-share a {
  margin-right: 15px;
}
.section-share h3 {
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
}
.section-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-social--specific p {
  font-size: 10px;
  font-weight: 600;
  color: #999;
}
.section-social--specific {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.section-social--specific .twitter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #0bcfcf;
  border-radius: 13px;
  margin-right: 10px;
}
.section-social--specific .linkedin {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #1389f7;
  border-radius: 13px;
  margin-right: 10px;
}
.section-social--specific .facebook {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #005fb8;
  border-radius: 13px;
  margin-right: 10px;
}
.section-social--specific .googleplus {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #e60909;
  border-radius: 13px;
  margin-right: 10px;
}
.section-social--specific .pinterest {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #c42f2f;
  border-radius: 13px;
  margin-right: 10px;
}

/* Áreas específicas do Contact Us */
.section-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-information {
  width: 500px;
}
.form-information input {
  width: 238px;
  margin-right: 20px;
}
.form-information input:last-child {
  margin-right: 0;
}
form input {
  margin-top: 30px;
  padding-bottom: 7px;
  border: none;
  background-color: #F7F7F7;
  border-bottom: 2px solid #999;
  outline: none;
  color: #999;
}
form input::placeholder {
  text-transform: uppercase;
  font-size: 11px;
  color: #999;
}
form textarea {
  margin-top: 60px;
  border: none;
  background-color: #F7F7F7;
  border-bottom: 2px solid #999;
  outline: none;
  resize: none;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #999;
}
form textarea::placeholder {
  text-transform: uppercase;
  font-size: 11px;
  color: #999;
}
form .button {
  margin: auto;
  margin-top: 50px;
}

/* Áreas específicas do Map */
.section-map {
  background-image: url('../images/mapa.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-map--area {
  width: 100vw;
  max-width: 1140px;
  margin: auto;
}
.section-map--info {
  width: 50%;
  padding: 30px;
  background-color: #FFF;
  color: #999;
}
.section-map--info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.section-map--info-item-img {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #999;
  border-radius: 15px;
  margin-right: 15px;
}
.section-map--info-item-img img {
  width: 15px;
  height: auto;
}

/* Áreas específicas do Footer */
.section-body.footer {
  display: flex;
  justify-content: center;
  height: 200px;
}
.section-footer--social {
  width: 380px;
}
.footer-social a{
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #504f4f;
  border-radius: 15px;
  margin-right: 8px;
}
.footer-social a:hover {
  background-color: #B28756;
}
.footer-legend {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 130px;
}
.section-footer--text {
  font-size: 12px;
  width: 380px;
  line-height: 20px;
}
.section-footer--form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  background-color: #504f4f;
  border-radius: 3px;
  margin-left: 30px;
}
.section-footer--form form input {
  background-color: #504f4f;
  text-align: center;
  width: 245px;
}
.section-footer--form form input::placeholder {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: #999;
}
.button.footer {
  font-size: 11px;
  margin-top: 20px;
}




/* CSS - Responsividade */
@media (min-width: 450px) and (max-width: 800px) {

  /* Área específica do menu */
  .logo {
    margin-left: 30px;
  }
  .menu-opener {
    display: block;
    width: 45px;
    margin-right: 30px;
  }
  nav {
    display: none;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.9);
    width: 70vw;
    height: calc(100vh - 100px);
    top: 100px;
    right: 0;
  }
  .menu ul {
    flex-direction: column;
  }

  .menu li a {
    font-weight: bold;
    height: 80px;
    font-size: 25px;
    margin-left: 50px;
    border: 0;
  }
  .menu li.active a {
    border: 0;
    color: #B28756;
  }

  /* Área específica do About Us */
  .section-aboutUs {
    flex-direction: column;
  }
  .section-aboutUs--left {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .section-aboutUs--right {
    width: auto;
  }

  /* Área específica do Services */
  .section-services {
    flex-wrap: wrap;
  }
  .section-service {
    min-width: 50%;
    margin-bottom: 30px;
  }
  .section-service:first-child {
    border-left: 0;
  }

  /* Área específica do Our Team */
  .section-team {
    max-width: 580px;
  }

  /* Área específica do Map */
  .section-map {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-map--area {
    width: auto;
  }
  .section-map--info {
    width: auto;
  }
  .section-map--info-item {
    margin-bottom: 20px;
  }
  .section-map--info-item:last-child {
    margin-bottom: 0;
  }
}