* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

/* Menu do Site */
header {
  height: 100px;
  background-color: #000;
  color: #FFF;
}
.header {
  max-width: 1140px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
}
.logo_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  background-color: #B28756;
  border-radius: 25px;
  color: #000;
}
.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.menu ul,
.menu li {
  list-style: none;
}
.menu ul {
  display: flex;
}
.menu li a {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 5px solid #000;
}
.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid #B28756;
  color: #CCC;
}

/* Botão padrão em todo site */
.button {
  display: inline-block;
  background-color: #B28756;
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 20px;
}

/* Conteúdo do Site */
.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
/* Slider Banner */
.banner .sliders {
  width: 1000vw;
  height: 100%;
  animation-name: slideShow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes slideShow {
  33%{
    margin-left: 0vw;
  }
  66%{
    margin-left: -100vw;
  }
  99%{
    margin-left:-200vw;
  }
}
.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
}
.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}
.banner h1 span {
  color: #B28756;
}
.banner h2 {
  text-transform: uppercase;
  margin-top: 20px;
}
.banner .sliders-pointers {
  width: 100vw;
  height: 20px;
  color: #FFF;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.banner .pointer.active {
  background-color: #B28756;
}

/* Conteúdo About Us */
.default {

  padding-top: 50px;
  padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.default .section-title {
  font-size: 20px;
}
.default .section-desc {
  font-size: 10px;
  color: #999;
  margin-top: 10px;
  margin-bottom: 40px;
}
.default .section-body {
  max-width: 1140px;
  margin: auto;
}

/* Áreas branca(ligth) e preta(dark) dos conteúdos - interfaces */
.default.light {
  background-color: #F7F7F7;
}
.default.light .section-title,
.default.light .section-body {
  color: #000;
}
.default.dark {
  background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body {
  color: #FFF;
}

/* Áreas específicas do About Us */
.section-aboutUs {
  display: flex;
}
.section-aboutUs--left {
  flex: 1;
}
.section-aboutUs--left p {
  font-size: 14px;
  line-height: 25px;
}
.section-aboutUs--right {
  width: 530px;
  text-align: center;
}
.section-aboutUs--right img {
  width: 480px;
  box-shadow: 0px 5px 10px #333;
}

/* Áreas específicas do Services */
.section-services {
  display: flex;
}
.section-service {
  flex: 1;
  text-align: center;
  padding: 15px;
  border-right: 1px solid #333;
}
.section-service:first-child {
  border-left: 1px solid #333;
}
.section-service h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
}
.section-service p {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}

/* Áreas específicas do Projects */
.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-projects--filters {
  display: inline-block;
  border: 1px solid #BBB;
  background-color: #DDD;
  border-radius: 30px;
  padding: 0 20px;
}
.section-projects--filters ul,
.section-projects--filters li {
  list-style: none;
}
.section-projects--filters li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  border-left: 1px solid #BBB;
  color: #444;
  border-bottom: 3px solid #DDD;
  cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
  border-bottom: 3px solid #B28756;
}
.section-projects--filters li:first-child {
  border-left: 0;
}
/* Áreas específicas do Projects - Photos */

/* Explicação do porque duas propriedades de largura: Por ser responsivel se o monitor for muito grande ele vai tem que ter
um limite, ele para em um determinado limite que no caso é os 1140px. Caso o monitor seja menor ele vai tem que usar os 
100% da tela ou 100vw, usando toda a área disponivel da tela. */
.section-projects--photos {
  width: 100vw;
  max-width: 1140px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-projects--photo {
  width: 280px;
}
.section-projects--photoarea {
  margin: 10px;
  width: 260px;
  height: 160px;
}
/* inherit: serve para repetir os valores das propriedades do elemento acima. */
.section-projects--photoarea img {
  width: inherit;
  height: inherit;  
}
.section-projects--photoinfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: inherit;
  height: inherit;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
}
.section-projects--photoinfo h5 {
  font-size: 18px;
  font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
  display: flex;
}

/* Áreas específicas do Our Team */
.bg-team {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 0;
}
.section-team-area {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-team {
  overflow: hidden;
  max-width: 880px;
  margin: auto;
}
.section-team .sliders {
  width: 1000vw;
  height: 100%;
  animation-name: slideShow;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@keyframes slideShow {
  33%{
    margin-left: 0vw;
  }
  66%{
    margin-left: -100vw;
  }
  99%{
    margin-left:-200vw;
  }
}
.section-team .slide {
  width: 280px;
  height: 100%;
  min-height: 300px;
  display: inline-block;
  background-color: #FFF;
  margin-right: 20px;
}
.section-team .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  padding: 30px;
}
.section-team-area .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-team-area .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.section-team-area .pointer.active {
  background-color: #B28756;
}
.section-team--avatar {
  width: 150px;
  height: auto;
}
.section-team--name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
}
.section-team--role {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}
.section-team--social {
  display: flex;
  margin-top: 20px;
}
.section-team--social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #CCC;
  border-radius: 13px;
  margin-right: 10px;
}
.section-team--social a:hover {
  background-color: #B28756;
}

/* Áreas específicas do Happy Clients */
.section-happy {
  margin-left: -111px;
}
.section-happy .sliders {
  width: 1000vw;
  height: 100%;
  animation-name: slideShow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes slideShow {
  33%{
    margin-left: 0vw;
  }
  66%{
    margin-left: -100vw;
  }
  99%{
    margin-left: -200vw;
  }
}
.section-happy .slide {
  display: inline-block;
  width: 100vw;
  height: 100%;
}
.section-happy .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600px;
  margin: auto;
  margin-top: 30px;
}
.section-happy .slidearea h1 {
  margin-top: 10px;
  padding-bottom: 0;
  font-size: 40px;
  color: #999;
}
.section-happy .slidearea p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  color: #999;
}
.section-happy--avatar {
  width: 150px;
  height: auto;
}
.section-happy--name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
}
.section-happy--role {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}
.section-happy-area .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-happy-area .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.section-happy-area .pointer.active {
  background-color: #B28756;
}

/* Áreas específicas das Empresas e Marcas */
.default-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background-color: #FFF;
}
.default-brands .section-brands a {
  margin-right: 70px;
}
.default-brands .section-brands a img {
  transition: transform .2s;
}
.default-brands .section-brands a img:hover {
  transform: scale(1.1);
}
.default-brands .section-brands a:last-child {
  margin-right: 0;
}

/* Áreas específicas da Price */
.default.light.bg-price {
  background-color: #DDD;
  border-bottom: 1px solid #CCC;
}
.section-price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-price .section-price--area {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-right: 30px;
  width: 220px;
  height: 320px;
  background-color: #FFF;
}
.section-price .section-price--area:last-child {
  margin-right: 0;
}
.section-price--title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}
.section-price--area h1 {
  font-size: 30px;
}
.section-price--description {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  font-size: 10px;
  padding-bottom: 20px;
}
.section-price--description span {
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
}
.section-price--information {
  font-size: 11px;
  color: #999;
}
.button.black {
  background-color: #252424;
}
.button:hover {
  background-color: #B28756;
}

/* Áreas específicas do Premium */
.section-body.premium {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-premium {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #CCC;
  padding-bottom: 50px;
  width: 880px;
}
.section-premium--image {
  margin-right: 80px;
}
.section-premium--image img {
  width: 300px;
}
.section-premium--information {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.premium-feature {
  display: flex;
  padding-bottom: 30px;
}
.premium-feature:last-child {
  padding-bottom: 0;
}
.premium-feature--icone {
  margin-right: 30px;
}
.premium-feature--info h2 {
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 10px;
}
.premium-feature--info p {
  font-size: 12px;
  color: #999;
}
.premium-feature--info span {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
}


.section-body .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-body .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.section-body .pointer.active {
  background-color: #B28756;
}